# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
+ Popular languages for Data Science
+ Libraries used by Data Scientists
+ Comment on Data Science tools

Some of the popular languages that Data Scientists use are:  
1. Python
2. SQL
3. R
4. Scala
5. Java
6. Julia
7. C/C++
8. JavaScript.

Some of the commonly used libraries used by Data Scientists include:  
1. TensorFlow
2. SciKit-Learn
3. NumPy
4. SciPy
5. Pandas
6. Keras
7. Matplotlib
8. PyTorch.

Data Science Tools:
| Tools |
| - |
| Apache Spark |
| BigML |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
d = h = m = 0
time = 200
left_m = time % 1440
h = left_m / 60
print(str(d) + " days, " + str(h) + " hours, " + str(m) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

## Author  
Yuran ZHAO